@{
    Layout = "_LayoutAdmin";
    var orders = ViewData["orders"] as List<Order>;
}
<main>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id đơn hàng</th>
                        <th>Người đặt hàng (email)</th>
                        <th>Trạng thái đơn hàng / Xem thông tin / Xóa</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id đơn hàng</th>
                        <th>Người đặt hàng (email)</th>
                        <th>Trạng thái đơn hàng / Xem thông tin / Xóa</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in orders)
                    {
                        var value = new sanphamContext().Users.Find(item.IdUser);
                        <tr>
                            <td>@item.Id</td>
                            <td>@value.Email</td>
                            <td>
                            <div class="btn btn-success">Đã giao hàng</div>
                            <a class="btn btn-outline-primary" asp-action="Show" asp-route-id="@item.Id">Xem đơn hàng</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>
</main>