@{
    Layout = "_LayoutAdmin";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card-header">

        </div>
        <div class="card-body">

            <form autocomplete="off" asp-controller="Brand" asp-action="Store" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Tên hãng</label>
                    <input type="text" class="form-control" name="name" id="" placeholder="Tên hãng..." required="">
                    <label for="title">Hình ảnh</label>
                    <input type="file" class="form-control" name="imageBrand" id="" required="">
                    <input type="submit" class="btn btn-primary mt-2" value="Thêm">
                </div>
            </form>
        </div>
    </div>
</div>
